@(noteForm: Form[NoteWithTypes], types: Seq[(String, String, String)], colors: Seq[(String, String)])(implicit messages: Messages, request: RequestHeader, flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

<span>@flash.get("message")</span>

<h1>Add a note</h1>

@form(routes.Application.saveNoteWithType(), 'enctype -> "multipart/form-data") {

<fieldset>

    @inputText(noteForm("text"), '_label -> "Your note")

    @select(noteForm("types"), Seq("1" -> "work", "2" -> "uni", "3" -> "home", "4" -> "friends"), 'multiple -> true)

    <div>
    <select id="basic-color-select">
        @colors.map { case (code, name) =>
            <option value="@code">@name</option>
        }
    </select>

    Color: <input class="jscolor {hash:true}" value="noteForm("color")" name="color" id="color-picker">
    </div>

    <input type="file" name="noteFile">

</fieldset>

<div class="actions">
    <input type="submit" value="Create note" class="btn primary"> or
    <a href="@routes.Application.listNotesWithTypes()" class="btn">Cancel</a>
</div>

<script src="@routes.Assets.at("scripts/color.js")"></script>
}

}
