@(note: Note, noteForm: Form[EditNoteForm], types: Seq[(String, String, String)])(implicit messages: Messages, request: RequestHeader, flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

<script src="@routes.Assets.at("scripts/deleteBox.js")"></script>

    <span>@flash.get("message")</span>

    <h1>Edit note</h1>

    @form(routes.Application.updateNote(note.id), 'enctype -> "multipart/form-data") {

        <fieldset>

            @inputText(noteForm("text"), '_label -> "Your note")

            <div>

                @select(noteForm("types"), types.map{ case (id, text, color) => (id, text)}, 'multiple -> true)

            </div>

            @note.fileName.map{ n =>
                @checkbox(noteForm("deleteFile"))
                Current file:
                <a href="@routes.Application.downloadFile(note.id)" download>
                    @n
                </a>
            }.getOrElse {
                <span></span>
            }

            <input type="file" name="noteFile" id="file-input">

        </fieldset>

        <div class="actions">
            <input type="submit" value="Edit note" class="btn primary"> or
            <a href="@routes.Application.listNotesWithTypes()" class="btn">Cancel</a>
        </div>

    }

}