@(currentPage: Page[(Note, Color)], currentOrderBy: Int)(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.listNotes(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) { @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"} }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {

    <div>
        <a class="btn success" id="add" href="@routes.Application.createNote()">Add a new note</a>
    </div>

    <table class="computers zebra-striped">
        <thead>
            <tr>
                @header(2, "Note")
                @header(3, "Color")
            </tr>
        </thead>
        <tbody>

            @currentPage.items.map {
                case (note, color) => {
                <tr>
                    <td>@note.text</td>
                    <td style = "background-color: @color.value">
                        @color.text
                    </td>
                </tr>
                }
            }

        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
                <li class="prev">
                    <a href="@link(page)">&larr; Previous</a>
                </li>
            }.getOrElse {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + currentPage.items.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
                <li class="next">
                    <a href="@link(page)">Next &rarr;</a>
                </li>
            }.getOrElse {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>
    </div>
}